.padding-default{
	padding:2em;
}
.cust-h{
	margin-bottom:1em;
	line-height:1.5;
}
.cust-p{
	margin-bottom:1.5em;
	line-height:1.5;
}
.cust-radio-ans{
	margin-bottom:1.5em;
	line-height:1.5;
	padding-left:3%;
}
.margin-left{
	margin-left:2em;
}
.padding-left{
	padding-left:3%;
}
.btn-default{
	border-radius:50%;
}

.radio-check{
	width:35px;
}
.radio-check span{
	margin-left:-0.2em;
}
#main-content {
    margin-left: 0px;
}
.offset-to-mid{
	padding-left:19%;
	padding-right:19%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

.footer-fix{
	font-size:1.4em;
}